@import url('https://fonts.googleapis.com/css2?family=Faustina:ital,wght@1,500&family=Poppins:wght@300;400;700;800&family=Quicksand&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input:hover::-webkit-inner-spin-button{
    -webkit-appearance: none;

}
input:focus::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

::-webkit-scrollbar{
    width: 8px;
    background-color:var(--cor-scroll-bar);
    transition: all 1s;
}
::-webkit-scrollbar-thumb{
    width: 5px;
    background-image: linear-gradient(to left ,orange, rgb(255, 0, 0),rgb(255, 166, 0));
    background-size: 200% 100%;
    animation: mov-degrade 3s linear infinite alternate;
    border-radius: 20px;
}

input:focus {
    outline: none;
}

#resolucao{
    display: none;
}
body{
    background-color:var(--fundo-do-site);
    position: relative;
    min-height: 100vh;
    
   
} 
:root{
    --cor-de-fundo-nav: #2c2c2c;
    --cor-de-fundo-form:#333;
    --fundo-do-site:#1a1a1a;
    --cor-dos-links:white;
    --sombra-menu-nav: 0px 15px 15px  rgb(25, 25, 25), inset 0px 5px 15px  rgb(25, 25, 25);
    --linha-input-antes-hover: 3px solid rgb(72, 72, 72);
    --cor-scroll-bar:#181818;
    --cor-da-img-content:#262626;
    --cor-do-card:#333;
    --cor-da-numeracao:#313131;
    --botao-de-ir-e-voltar:#333;
    --cor-dos-botao-de-paginacao:#333;
    --numeracao-posicao:20%;
    --box-shadow: inset 0px -5px 20px rgba(11, 11, 11, 0.749);
    --linhas-dos-links2:#fff;
    --letras-dos-botoes:black;
}
.light_mode3:root{
        --cor-de-fundo-nav: #d4d4d4;
    --cor-de-fundo-form:#d1cece;
    --fundo-do-site:#d6d2d2;
    --cor-dos-links:#ff4500;
    --sombra-menu-nav: 0px 12px 15px rgba(255, 69, 0, 0.5), inset 0px 2px 15px  rgba(255, 69, 0, 0.5);
    --linha-input-antes-hover: 3px solid rgb(180, 180, 180);
    --botao-home:orangered;
    --cor-letra-botao:white;
    --cor-scroll-bar:#bcbaba;
    --cor-da-img-content:#c4c3c3;
    --cor-do-card:#d0cdcd;
    --cor-da-numeracao:#ff4500;
    --botao-de-ir-e-voltar:#9a9999;
    --cor-dos-botao-de-paginacao:#414141;
    --numeracao-posicao:20%;
    --box-shadow: inset 0px 0px 20px #ff4d008e;
    --linhas-dos-links2:orangered;
    --letras-dos-botoes:white;
}
.formulario{
    
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    padding: 10px 45px;
    backdrop-filter: blur(5px); background-color:var(--cor-de-fundo-form); border-radius: 38px;
    box-shadow: 0px 35px 68px 0px rgba(255, 69, 0, 0.5), inset 0px -12px 16px 0px rgba(255, 69, 0, 0.6);
    width: 30%;
    margin-left: 35%;
    margin-top: 10%;
    height: 550px;
    
}
.formulario input{
    border-left: none;
    border-right: none;
    font-family: 'Poppins';
    border-top: none;
    background-color: transparent;
    border-bottom: var(--linha-input-antes-hover);
    padding-left: 2%;
    transition: all 0.7s;
    margin-left:5%;
    margin-top: -1%;
    font-size: 20px;
    font-weight: 700;
    
}
.formulario input:focus{
    border-bottom: 3px solid #ff4500;
}
.formulario h1{
    font-family: 'Poppins';
    text-align: center;
    padding:5px;
    
}

.original-button3 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Poppins';
    text-decoration: none;
    color: orangered;
    font-size: 18px;
    border-radius: 20px;
    width: 300px;
    height: 45px;
    font-weight: 700;
    
    border: 2px solid orangered;
    transition: 0.5s;
    background-color: transparent;
    margin-left: 4.5%;
    margin-top:-4%;
}
.original-button3:hover {
    color: var(--cor-letra-botao);

    transform: translateY(5px);
    background-image: linear-gradient(to left ,orange, rgb(255, 0, 0),rgb(255, 166, 0));
    background-size: 200% 100%;
    animation:mov-fundo  3s alternate linear infinite;
}
@keyframes mov-fundo {
    0%{
        background-position: 0%;
    }

    100%{
        background-position:100%
    }

}
.icn3{
    margin-left:78%;
    position: absolute;
    z-index: 1;
    transform: rotate(-20deg);
    margin-top: -42%;
    animation:mov3 5s  alternate linear infinite;
    overflow: hidden;
    height: 250px;
    
}
.icn4{
    position: absolute;
    z-index: 2;
    margin-top:-45%;
    margin-left: 5%;
    transform: rotate(-10deg);
    animation:mov4 5s  alternate linear infinite;
    overflow: hidden;
}
.icone2{
    height: 200px;
    margin-top:-18% ;
    margin-left: 75%;
    position: absolute;
    z-index: 1;
    transform: rotate(10deg);
    animation:mov2  5s alternate linear infinite;
    overflow: hidden;
}

.icn1{
    height: 250px;
    position: absolute;
    z-index: 1;
    margin-top: -20%;
    transform: rotate(30deg);
    margin-left: 5%;
    animation: mov1 3s   alternate linear  infinite;
    overflow: hidden;
    
}
@keyframes mov1 {
    0%{
        transform: rotate(15deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
@keyframes mov2 {
    0%{
        transform: rotate(-20deg);
    }
    100%{
        transform: rotate(0deg);
    }
    
}
@keyframes mov3 {
    0%{
        transform: rotate(20deg);
    }
    100%{
        transform:rotate(0deg)
    }
}
@keyframes mov4 {
    0%{
        transform: rotate(-20deg);
    }
    
    100%{
        transform: rotate(0deg);
    }
}
.switch3 {
    display: block;
    --width-of-switch: 3.5em;
    --height-of-switch: 2em;
    /* size of sliding icon -- sun and moon */
    --size-of-icon: 1.4em;
    /* it is like a inline-padding of switch */
    --slider-offset: 0.3em;
    position: absolute;
    width: var(--width-of-switch);
    height: var(--height-of-switch);
    margin-left: 10%;
    z-index:4 ;
    margin-top: -2px;
    
    
    
    
  }
  .switch3:active{
    transform: scale(0.9);
  }
  
  /* Hide default HTML checkbox */
  .switch3 input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f4f4f5;
    transition: .4s;
    border-radius: 30px;
 }

  .slider:before {
    position: absolute;
    content: "";
    height: var(--size-of-icon,1.4em);
    width: var(--size-of-icon,1.4em);
    border-radius: 20px;
    left: var(--slider-offset,0.3em);
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
    ;
   transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #303136;
  }
  
  input:checked + .slider:before {
    left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
    background: #303136;
    /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
    box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
  }
  

.original-button4:hover{
    
    transform: translateY(6px);
    border:var(--botao-home);
    color:white;
    background-image: linear-gradient(to left ,orange, rgb(255, 0, 0),rgb(255, 166, 0));
    background-size: 200% 100%;
    animation:mov-fundo  3s alternate linear infinite;
}

.original-button4 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-decoration: none;
    color: var(--botao-home);
    font-size: 18px;
    border-radius: 20px;
    width: 200px;
    height: 40px;
    transition: all 1s;
    border: 2px solid var(--botao-home);
    transition: 0.3s;
    background-color: transparent;
    margin-left: 55%;
    margin-top: -2%;
    
    position: absolute;
    z-index: 10;
}

.menu-navegacao3 {
    background-color: var(--cor-de-fundo-nav);
    padding: 30px 4%;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 25%;
    border-bottom-left-radius:20px ;
    border-bottom-right-radius: 20px;
    width: 50%;
    transition: 1s;
    z-index: 3;
    box-shadow: var(--sombra-menu-nav);
}


.menu-navegacao3 ul {
list-style-type: none;
margin: 0;
padding: 0;
}


.menu-navegacao3 li {
display: inline-block;
margin-right: 50px;

}
.links2{
  text-decoration: none;
  color:var(--cor-dos-links);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
  margin-top: 5px;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  margin-top: -3%;
  margin-left: -5%;
}
  .links2::after{
 content: " ";
 width: 0%;
 height: 4px;
 background-color:var(--linhas-dos-links2) ;
 position: absolute;
 bottom: 0;
 left: 0;
transition: all 1s ease-in-out;
border-radius: 3px;

}
.links2:hover::after{
    width: 100%;
    
}


/* css da parte da resolução */
.card{
background-color:var(--cor-do-card);

height: 430px;
border-radius: 20px;
align-items: center;
display: flex;
justify-content: center;
flex-direction: column;
padding-bottom:40px ;
box-shadow: var(--box-shadow);
}
.slide-content{
    margin:0 40px;
    overflow: hidden;
    border-radius: 25px;
}
.slide-container{
    max-width: 1120px;
    width:100%;
    padding:40px 0px;
}
.image-content,
.card-content{
    padding: 10px 14px;
    display: flex;
    align-items: center;

}
.image-content{
    row-gap: 5px;
    background-color:var(--cor-da-img-content);
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    
    
}
.texto-explicacao1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform:lowercase;
}


.titulo-explicacao,
.texto-explicacao1{
    text-align: center;
    margin-top: -6%;
    padding: 2px;
}
.titulo-explicacao,
.texto-explicacao{
    text-align: center;
    margin-top: 4%;
    padding: 2px;
}
.titulo-explicacao{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    
    
}
.texto-explicacao{
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 400;
    text-transform:lowercase;
    
}
.swiper-navBtn{
    color:var(--botao-de-ir-e-voltar);
    transition: all 0.5s;
}
.swiper-navBtn:hover{
color: orangered;
}
.swiper-navBtn:before,
.swiper-navBtn::after{
    font-size: 40px;
}
.swiper-button-next{
    right: 0;
}
.swiper-button-prev{
    left: 0;
}
.swiper-pagination-bullet{
    background-color:var(--cor-dos-botao-de-paginacao);
    opacity: 6;

}
.swiper-pagination-bullet-active{
    background-color: orangered;
    opacity: 10;
}
@media screen and (max-width: 768px) {
    .swiper-navBtn{
        display: none;
    }
    .slide-content{
        margin: 0 10px;
    }
}
.explicacao{
    margin-top: 5%;
    position: relative;
    overflow: hidden;
    

}
.numeracao{
    color:var(--cor-da-numeracao);
    position: absolute;
    z-index: 2;
    margin-left: -78%;
    font-size: 130px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top:var(--numeracao-posicao)
}
.resultado1{
    
    font-family: 'Poppins';
    font-size: 17px;
    margin-top: 10%;
    font-weight: 400;


}


.btn-nvresult {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Poppins';
    text-decoration: none;
    color: orangered;
    font-size: 18px;
    border-radius: 20px;
    width: 300px;
    height: 45px;
    font-weight: 700;
    border: 2px solid orangered;
    transition: 0.5s;
    background-color: transparent;
    margin-left: 39%;
    margin-top: 2%;
}
.btn-nvresult:hover {
    color: white;

    transform: translateY(5px);
    background-image: linear-gradient(to left ,orange, rgb(255, 0, 0),rgb(255, 166, 0));
    background-size: 200% 100%;
    animation:mov-fundo  3s alternate linear infinite;
}
.title-resolucao{
    font-size: 75px;
    margin-top: 2%;
    margin-left: 31%;
    font-family: 'Poppins';
    

}
.buble6{
    height: 200px;
    position: absolute;
    z-index: 1;
    margin-top: -8%;
    animation: mov-bublle 3s linear alternate infinite 
}
.buble7{
    height: 190px;
    position: absolute;
    z-index: 1;
    margin-top: -45%;
    margin-left: 85%;
    overflow: hidden;
    animation: mov-bublle 3s linear alternate infinite 

}
.buble8{
        height: 70px;
    position: absolute;
    z-index: 1;   
    animation: mov-bublle2 2s alternate linear infinite;
    margin-top: -11%;
    overflow: hidden;

}
.buble9{ 
    height: 65px;
    position: absolute;
    z-index: 1;
    margin-top: -30%;
    margin-left: 90%;
    overflow: hidden;
    animation: mov-bublle2 3s alternate linear infinite;
    
}
@keyframes mov-bolha {
    0%{
        transform: rotate(10deg);
    }

    
}