input:hover::-webkit-inner-spin-button{
    -webkit-appearance: none;

}

input:focus::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

input:focus {
    outline: none;
}
::-webkit-scrollbar{
    width: 8px;
    background-color:var(--cor-scroll-bar);
    transition: all 1s;
}
body{
    background-color:var(--fundo-do-site);
    position: relative;
    min-height: 100vh;
}
:root{
    --cor-do-menu-navegacao2:#2c2c2c;
    --sombra-menu-nav3: 0px 15px 15px  rgb(25, 25, 25), inset 0px 5px 15px  rgb(25, 25, 25);
    --cor-de-fundo-form2:#333;
    --fundo-do-site:#1a1a1a;
    --cor-dos-links3:white;
    --linhas-dos-links3:white;
    --linha-input-antes-hover2:3px solid rgb(72, 72, 72);
    --cor-scroll-bar:#181818;
    --botao-home:white;
    --cor-letra-botao:black;
    --botao-de-ir-e-voltar:#333;
}
.light-mode4:root{
    --cor-do-menu-navegacao2: #d4d4d4;
--sombra-menu-nav3:  0px 12px 15px rgba(255, 69, 0, 0.5), inset 0px 2px 15px  rgba(255, 69, 0, 0.5);
--cor-de-fundo-form2:#d1cece;
--fundo-do-site:#d6d2d2;
--cor-dos-links3:orangered;
--linhas-dos-links3:orangered;
--linha-input-antes-hover2:3px solid rgb(180, 180, 180);
--cor-scroll-bar:#bcbaba;
--botao-home:orangered;
--cor-letra-botao:white;
--botao-de-ir-e-voltar:#9a9999;
}

.original-button4:hover{
    background-color: var(--botao-home);
    transform: translateY(6px);
    border:var(--botao-home);
    color:var(--cor-letra-botao)
}
.original-button4 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-decoration: none;
    color: var(--botao-home);
    font-size: 18px;
    border-radius: 20px;
    width: 200px;
    height: 40px;
    transition: all 1s;
    border: 2px solid var(--botao-home);
    transition: 0.3s;
    background-color: transparent;
    margin-left: 55%;
    margin-top: -2%;
    
    position: absolute;
    z-index: 10;
}

#resolucao{
    display: none;
}
.formulario2{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    padding: 10px 45px;
    backdrop-filter: blur(5px); background-color:var(--cor-de-fundo-form2); border-radius: 38px;
    box-shadow: 0px 35px 68px 0px rgba(255, 69, 0, 0.5), inset 0px -12px 16px 0px rgba(255, 69, 0, 0.6);
    width: 30%;
    margin-left: 35%;
    margin-top: 10%;
    height: 400px;
}
.formulario2 input{
    border-left: none;
    border-right: none;
    font-family: 'Poppins';
    border-top: none;
    background-color: transparent;
    border-bottom: var(--linha-input-antes-hover2);
    padding-left: 2%;
    transition: all 0.7s;
    margin-left:5%;
    margin-top: 8%;
    font-size: 20px;
    font-weight: 700;
    
}
.formulario2 input:focus{
    border-bottom: 3px solid #ff4500;
}
.formulario2 h1{
    font-family: 'Poppins';
    text-align: center;
    text-align: center;
    
}

.menu-navegacao4 {
    background-color: var(--cor-do-menu-navegacao2);
    padding: 30px 4%;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 25%;
    border-bottom-left-radius:20px ;
    border-bottom-right-radius: 20px;
    width: 50%;
    transition: 1s;
    z-index: 3;
    box-shadow:var(--sombra-menu-nav3);
}


.menu-navegacao4 ul {
list-style-type: none;
margin: 0;
padding: 0;
}


.menu-navegacao4 li {
display: inline-block;
margin-right: 50px;

}

.links3{
    text-decoration: none;
    color:var(--cor-dos-links3);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    margin-top: 5px;
    font-size: 30px;
    font-weight: 400;
    position: absolute;
    margin-top: -3%;
    margin-left: -5%;
  }
    .links3::after{
   content: " ";
   width: 0%;
   height: 4px;
   background-color:var(--linhas-dos-links3) ;
   position: absolute;
   bottom: 0;
   left: 0;
  transition: all 1s ease-in-out;
  border-radius: 3px;
  
  }
  .links3:hover::after{
      width: 100%;
      
  }

.card{
    background-color:var(--cor-do-card);
    
    height: 430px;
    border-radius: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom:40px ;
    box-shadow: var(--box-shadow);
    }
    .slide-content{
        margin:0 40px;
        overflow: hidden;
        border-radius: 25px;
    }
    .slide-container2{

        margin-top: 8%;
        max-width: 850px;
        width:100%;
        padding:40px 0px;
    }
    .image-content,
    .card-content{
        padding: 10px 14px;
        display: flex;
        align-items: center;
    
    }
    .image-content{
        row-gap: 5px;
        background-color:var(--cor-da-img-content);
        width: 100%;
        height: 100%;
        align-items: center;
        display: flex;
        justify-content: center;
        border-radius: 20px;
        position: relative;
        overflow: hidden;
        
        
    }
    .texto-explicacao1{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 18px;
        font-weight: 400;
        text-transform:lowercase;
    }
    
    
    .titulo-explicacao,
    .texto-explicacao1{
        text-align: center;
        margin-top: -6%;
        padding: 2px;
    }
    .titulo-explicacao,
    .texto-explicacao{
        text-align: center;
        margin-top: 4%;
        padding: 2px;
    }
    .titulo-explicacao{
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 18px;
        
        
    }
    .texto-explicacao{
        font-family: 'Poppins';
        font-size: 18px;
        font-weight: 400;
        text-transform:lowercase;
        
    }
    .swiper-navBtn2{
        color:var(--botao-de-ir-e-volta);
        transition: all 0.5s;
    }
    .swiper-navBtn2:hover{
    color: orangered;
    }
    .swiper-navBtn:before,
    .swiper-navBtn::after{
        font-size: 40px;
    }
    .swiper-button-next{
        right: 0;

        margin: -12px;
    }
    .swiper-button-prev{
        left: 0;
        margin: -12px;
        
    }
    .swiper-pagination-bullet{
        background-color:var(--cor-dos-botao-de-paginacao);
        opacity: 6;
    
    }
    .swiper-pagination-bullet-active{
        background-color: orangered;
        opacity: 10;
    }
    @media screen and (max-width: 768px) {
        .swiper-navBtn{
            display: none;
        }
        .slide-content{
            margin: 0 10px;
        }
    }
    .explicacao{
        margin-top: 5%;
        position: relative;
        overflow: hidden;
        
    
    }
    .numeracao{
        color:var(--cor-da-numeracao);
        position: absolute;
        z-index: 2;
        margin-left: -78%;
        font-size: 130px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-top:var(--numeracao-posicao)
    }
    .resultado1{
        
        font-family: 'Poppins';
        font-size: 17px;
        margin-top: 10%;
        font-weight: 400;
    
    
    }
    
    
    .btn-nvresult {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family:'Poppins';
        text-decoration: none;
        color: orangered;
        font-size: 18px;
        border-radius: 20px;
        width: 300px;
        height: 45px;
        font-weight: 700;
        border: 2px solid orangered;
        transition: 0.5s;
        background-color: transparent;
        margin-left: 39%;
        margin-top: 2%;
    }
    .btn-nvresult:hover {
        color: white;
    
        transform: translateY(5px);
        background-image: linear-gradient(to left ,orange, rgb(255, 0, 0),rgb(255, 166, 0));
        background-size: 200% 100%;
        animation:mov-fundo  3s alternate linear infinite;
    }
    .title-resolucao{
        font-size: 75px;
        margin-top: 2%;
        margin-left: 31%;
        font-family: 'Poppins';
        
    
    }