input:hover::-webkit-inner-spin-button{
    -webkit-appearance: none;

}

input:focus::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

input:focus {
    outline: none;
}

#resolucao{
    display: none;
}
:root{
    --cor-do-menu-navegacao2:#2c2c2c;
    --sombra-menu-nav3: 0px 15px 15px  rgb(25, 25, 25), inset 0px 5px 15px  rgb(25, 25, 25);
    --cor-de-fundo-form:#333;
    --fundo-do-site:#1a1a1a;
    --cor-dos-links3:white;
    --linhas-dos-links3:white;
    --linha-input-antes-hover:3px solid rgb(72, 72, 72);
    --cor-scroll-bar:#181818;
    --botao-home:white;
    --cor-letra-botao:black;
    --botao-de-ir-e-voltar:#333;


}
.light-mode5:root{
    --cor-do-menu-navegacao2: #d4d4d4;
    --sombra-menu-nav3:  0px 12px 15px rgba(255, 69, 0, 0.5), inset 0px 2px 15px  rgba(255, 69, 0, 0.5);
    --cor-de-fundo-form:#d1cece;
    --fundo-do-site:#d6d2d2;
    --cor-dos-links3:orangered;
    --linhas-dos-links3:orangered;
    --linha-input-antes-hover:3px solid rgb(180, 180, 180);
    --cor-scroll-bar:#bcbaba;
    --botao-home:orangered;
    --cor-letra-botao:white;
    --botao-de-ir-e-voltar:#9a9999;
}
.formulario2{
    
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    padding: 10px 45px;
    backdrop-filter: blur(5px); background-color:var(--cor-de-fundo-form); border-radius: 38px;
    box-shadow: 0px 35px 68px 0px rgba(255, 69, 0, 0.5), inset 0px -12px 16px 0px rgba(255, 69, 0, 0.6);
    width: 25%;
    margin-left: 35%;
    margin-top: 10%;
    height: 300px;
    
}
.formulario2 input{
    border-left: none;
    border-right: none;
    font-family: 'Poppins';
    border-top: none;
    background-color: transparent;
    border-bottom: var(--linha-input-antes-hover);
    padding-left: 2%;
    transition: all 0.7s;
    margin-left:5%;
    margin-top: 5%;
    font-size: 20px;
    font-weight: 700;
    
}
.formulario2 input:focus{
    border-bottom: 3px solid #ff4500;
}
.formulario2 h1{
    font-family: 'Poppins';
    text-align: center;
    padding:5px;
    
}

.original-button4 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Poppins';
    text-decoration: none;
    color: orangered;
    font-size: 18px;
    border-radius: 20px;
    width: 300px;
    height: 45px;
    font-weight: 700;
    
    border: 2px solid orangered;
    transition: 0.5s;
    background-color: transparent;
    margin-left: 4.5%;
    margin-top:-4%;
}
.original-button4:hover {
    color: white;
    transform: translateY(5px);
    background-image: linear-gradient(to left ,orange, rgb(255, 0, 0),rgb(255, 166, 0));
    background-size: 200% 100%;
    animation:mov-fundo  3s alternate linear infinite;
}




