input:hover::-webkit-inner-spin-button{
    -webkit-appearance: none;

}

input:focus::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

input:focus {
    outline: none;
}

#saida{
    display: none;
}




button{
    cursor: pointer;
}

input{
    color:orangered
}
:root{
    --cor-de-fundo-nav: #2c2c2c;
    --cor-de-fundo-form:#333;
    --fundo-do-site:#1a1a1a;
    --cor-dos-links:white;
    --sombra-menu-nav: 0px 15px 15px  rgb(25, 25, 25), inset 0px 5px 15px  rgb(25, 25, 25);
    --linha-input-antes-hover: 3px solid rgb(72, 72, 72);
    --cor-scroll-bar:#181818;
    --cor-da-img-content:#262626;
    --cor-do-card:#333;
    --cor-da-numeracao:#313131;
    --botao-de-ir-e-voltar:#333;
    --cor-dos-botao-de-paginacao:#333;
    --numeracao-posicao:20%;
    --box-shadow: inset 0px -5px 20px rgba(11, 11, 11, 0.749);
    --linhas-dos-links2:#fff;
    --letras-dos-botoes:black;
    --cor-do-select:#333;


}
.light-mode7:root{
    --cor-de-fundo-nav: #d4d4d4;
    --cor-de-fundo-form:#d1cece;
    --fundo-do-site:#d6d2d2;
    --cor-dos-links:#ff4500;
    --sombra-menu-nav: 0px 12px 15px rgba(255, 69, 0, 0.5), inset 0px 2px 15px  rgba(255, 69, 0, 0.5);
    --linha-input-antes-hover: 3px solid rgb(180, 180, 180);
    --botao-home:orangered;
    --cor-letra-botao:white;
    --cor-scroll-bar:#bcbaba;
    --cor-da-img-content:#c4c3c3;
    --cor-do-card:#d0cdcd;
    --cor-da-numeracao:#ff4500;
    --botao-de-ir-e-voltar:#9a9999;
    --cor-dos-botao-de-paginacao:#414141;
    --numeracao-posicao:20%;
    --box-shadow: inset 0px 0px 20px #ff4d008e;
    --linhas-dos-links2:orangered;
    --letras-dos-botoes:white;
    --cor-da-numeracao2: #ff4500;
    --box-shadow2: var(--box-shadow);
    --cor-do-select:transparent;
}

.formulario4{
    
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    padding: 10px 45px;
    backdrop-filter: blur(5px); background-color:var(--cor-de-fundo-form); border-radius: 38px;
    box-shadow: 0px 35px 68px 0px rgba(255, 69, 0, 0.5), inset 0px -12px 16px 0px rgba(255, 69, 0, 0.6);
    width: 30%;
    margin-left: 35%;
    margin-top: 10%;
    height: 350px;
    
}
.formulario4 input{
    border-left: none;
    border-right: none;
    font-family: 'Poppins';
    border-top: none;
    background-color: transparent;
    border-bottom: var(--linha-input-antes-hover);
    padding-left: 2%;
    transition: all 0.7s;
    
    margin-left:5%;
    margin-top: 7%;
    font-size: 20px;
    font-weight: 700;
    
}
.formulario4 input:focus{
    border-bottom: 3px solid #ff4500;
}
.formulario4 h1{
    font-family: 'Poppins';
    text-align: center;
    padding:5px;
    
}

.swiper-navBtn3{
    color:var(--botao-de-ir-e-voltar) !important;
    transition: all 0.5s;
}
.swiper-navBtn3:hover{
color: orangered !important;
}
.swiper-navBtn3:before,
.swiper-navBtn3::after{
    font-size: 40px;
}
.swiper-button-next{
    right: 0;
}
.swiper-button-prev{
    left: 0;
}
.swiper-pagination-bullet{
    background-color:var(--cor-dos-botao-de-paginacao) !important;
    opacity: 6;

}
.original-button5 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-decoration: none;
    color: var(--botao-home);
    font-size: 18px;
    border-radius: 20px;
    width: 200px;
    height: 40px;
    transition: all 1s;
    border: 2px solid var(--botao-home);
    transition: 0.3s;
    background-color: transparent;
    margin-left: 55%;
    margin-top: -3%;
    
    position: absolute;
    z-index: 10;
}
.btn-nvresultnv {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Poppins';
    text-decoration: none;
    color: orangered;
    font-size: 18px;
    border-radius: 20px;
    width: 300px;
    height: 45px;
    font-weight: 700;
    border: 2px solid orangered;
    transition: 0.5s;
    background-color: transparent;
    margin-left: 39%;
    margin-top: 2%;
}
.swiper-pagination-bullet-active{
    background-color: orangered !important;
    opacity: 10;
}
.title-resolucao3{
    font-size: 75px;
    margin-top: 5%;
    margin-left: 31%;
    font-family: 'Poppins';

}
@media (max-width:500px) {

    .original-button5 {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        text-decoration: none;
        color: var(--botao-home);
        font-size: 18px;
        border-radius: 20px;
        width: 130px;
        height: 30px;
        transition: all 1s;
        border: 2px solid var(--botao-home);
        transition: 0.3s;
        background-color: transparent;
        margin-left: 59%;
        margin-top: -5%;
        
        
        position: absolute;
        z-index: 10;
    }

    .title-resolucao3{
        font-size: 45px;
        margin-top: 30%;
        margin-left: 9%;
        font-family: 'Poppins';
        margin-bottom: 5%;
    }
    .btn-nvresultnv{

        display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Poppins';
    text-decoration: none;
    color: orangered;
    font-size: 18px;
    border-radius: 20px;
    width: 300px;
    height: 45px;
    font-weight: 700;
    border: 2px solid orangered;
    transition: 0.5s;
    background-color: transparent;
    margin-left: 15%;
    margin-top: 7%;

    }
}