
@import url('https://fonts.googleapis.com/css2?family=Faustina:ital,wght@1,500&family=Poppins:wght@200;300;400;700;800&family=Quicksand&display=swap');
*{box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #1a1a1a;
    height: 1000px !important;
}
.fundo_celular{
    display: none;
}

.info{
    display: none;
    height: 200px;
    width: 660px;
    background-color: #313131;
    position: absolute;
    z-index: 2;
    border-radius: 7px;
    margin-top: -1.0%;
    margin-left: 15%;
    align-items: center;
    

}
.info button{
    width: 80px;
    height: 25px;
    margin-top: 25%;
    margin-left: 85%;
    border-radius:7px ;
    position: absolute;
    z-index: 2;
}
.tabela_periodic{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 80px;
    margin-left: 90px;
    
}

.periodo{
    -webkit-border-radius: 50px;
border-radius: 50px;
background: #3c3c3c;




width:68px;
height: 68px;
border-radius: 5px;
text-align: center;
margin-left: 10px;
margin-right: 10px;
margin-top: 13px;
transition: all 0.8s;
}
.periodo_lantanoides{
    display: flex;
    flex-direction: row;
   
}
.periodo_actinoides{
    display: flex;
    flex-direction: row;
    
}

.tabela_periodica2{
   margin-left: 8.5%;
   margin-top: 1%;
}

.elementos_adcionais{
    -webkit-border-radius: 50px;
    border-radius: 50px;
    background: rgb(255, 255, 0);
    
    
    
    
    width:68px;
    height: 68px;
    border-radius: 5px;
    text-align: center;
    margin-left: -6px;
    margin-right: 10px;
    margin-top: 13px;
    transition: all 0.8s;
}
.H{
    background-color: greenyellow;
}
.B,.Si,.Ge,.As,.Sb,.Te,.Po{    /* Semi Metais*/
    background-color: rgb(233, 232, 232);
}
.C,.N,.P,.O,.S,.Se,.F,.Cl,.Br,.L,.At,.He,.Ne,.Ar,.Kr,.Xe,.Rn,.Og{
    background-color: greenyellow;
}
.col1{
    display: flex;
    flex-direction: column;
    margin-top: -18px;
    margin-left: -100px;
   
}
.col2{
    display: flex;
    flex-direction: column;
    margin-top: 62px;
    margin-left:-105px;
    margin-right:0px ;
    
}
.col3{
    display: flex;
    flex-direction: column;
    margin-top: 225px;
    margin-left:-105px;
}
.col4{
    display: flex;
    flex-direction: column;
    margin-left: -105px;
    margin-top: -18px;
}

.sigla2{
    margin-top: 5%;
    font-size: 25px;
    font-family: 'Poppins';
    font-weight: 500;
    color: orangered;
    animation: mov-degrade 3s linear infinite alternate;
    

}
.divSigla2{

    margin-top: 5%;
    font-size: 25px;
    font-family: 'Poppins';
    font-weight: 400;
    background-image: linear-gradient(to left ,orange, rgb(255, 0, 0),rgb(255, 166, 0));
    background-size: 700% 100%;
    animation: mov-degrade 3s linear infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.elementos_adcionais:hover{
    transform: scale(1.3);
}
.periodo:hover{
    transform: scale(1.3);
}
h2{
    position: absolute;
    z-index: 2;
    color: white;
}

#sigla{
    background-image: linear-gradient(to left ,orange, rgb(255, 0, 0),rgb(255, 166, 0));
    background-size: 700% 100%;
    animation: mov-degrade 3s linear infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 50px;
    font-family:  'Poppins';
    font-weight: 300;
    padding: 50px;
}
#nm_at{
    color:rgb(0, 0, 0);
    font-size: 30px;
    margin-top: -160px;
    margin-left: -100px;
}
#estado{
    margin-top: 20%;
font-size: 20px;
color: rgb(255, 255, 255);
font-family: 'Poppins';
}
.sigla{
    margin-top: 5%;
    font-size: 25px;
    font-family: 'Poppins';
    font-weight: 500;
    background-image: linear-gradient(to left ,orange, rgb(255, 0, 0),rgb(255, 166, 0));
    background-size: 700% 100%;
    animation: mov-degrade 3s linear infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.quadradinho{
    background-color: yellow;
    width: 150px !important;
    height: 150px;
        
transition: all 0.8s;
    border-radius: 5px;
text-align: center;

}
.fundo_tabela{
    display: block;
    margin-top: 10%;
}
.nome_elemento{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 12px;
    margin-top: 10;
    color: orangered;
}
.nome_elemento2{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 12px;
    margin-top: 10;
    color: orangered; 
}
#nm_at{
    font-family: 'Poppins';
    background-image: linear-gradient(to left ,orange, rgb(255, 0, 0),rgb(255, 166, 0));
    background-size: 700% 100%;
    animation: mov-degrade 3s linear infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#nome {
    margin-left: 25%;
    margin-top: -20%;
    color: white;
    font-size: 30px;
    font-family: 'Poppins';
}
#massa_atomica{
color: black;
font-size: 20px;
font-family: 'Poppins';
font-weight: 300;
margin-top: 35%;
background-image: linear-gradient(to left ,orange, rgb(255, 0, 0),rgb(255, 166, 0));
    background-size: 700% 100%;
    animation: mov-degrade 3s linear infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;




}
.nm_fml{
    position: absolute;
    z-index: 2;
    color: white;
    font-family: 'Poppins';
    font-size: 25px;
    margin-left: 30px;
    margin-top: -30px;
    background-image: linear-gradient(to left ,orange, rgb(255, 0, 0),rgb(255, 166, 0));
    background-size: 700% 100%;
    animation: mov-degrade 3s linear infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.telefone{
width: 250px;
margin-top: 25%;
margin-left: 20%;
position: absolute;
z-index: 1;
animation: girar_cell 2s alternate linear infinite;
}
@keyframes girar_cell{
    0%{
        transform: rotate(10deg);
    }
    100%{
        transform: rotate(0deg);
    }

}
.mensagem_usu{
    color: orangered;
    font-size: 24px;
    position: absolute;
z-index: 2;
margin-left: 10%;
margin-top: 90%;
white-space: pre-line;
}
@media (max-width:500px){
    .fundo_tabela{
        display: none;
    }
    .fundo_celular{
        display: flex;
    }
    
}