@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
/*variaveis com cores light mode*/
:root{
--cor-menu-navegacao:#333;
--cor-fundo-quem:#333;
--cor-scroll-bar:#181818;
--sombra-menu-nav:0px 8px 15px  rgb(25, 25, 25);
}
.light-mode:root{
    --cor-menu-navegacao:#d6d2d2;
    --cor-fundo-quem:#c8c7c7;
    --cor-scroll-bar:#aeaeae;
    --sombra-menu-nav:0px 4px 15px  rgb(50, 50, 50);
}
*{
    padding: 0;
    margin: 0;
}
::-webkit-scrollbar{
    width: 8px;
    background-color:var(--cor-scroll-bar);

}
::-webkit-scrollbar-thumb{
    width: 5px;
    background-image: linear-gradient(to left ,orange, rgb(255, 0, 0),rgb(255, 166, 0));
    background-size: 200% 100%;
    animation: mov-degrade 3s linear infinite alternate;
    border-radius: 20px;

}
.menu-navegacao {

    padding: 30px 4%;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    margin-left: -8%;
    width: 100%;
    transition: 1s;
    z-index: 3;

}


.menu-navegacao ul {
list-style-type: none;
margin: 0;
padding: 0;
align-items: center;
text-align: center;
margin-left: 12%;
}

.menu-navegacao li {
display: inline-block;
margin-right: 110px;
margin-top: 1%;



}


.menu-navegacao li:last-child {
  margin-right: 0px;
}

.menu-navegacao a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
  padding: 5px ;
  font-size: 30px;
  font-weight: 400;
  position: relative;
}
.menu-navegacao a::after{
 content: " ";
 width: 0%;
 height: 4px;
 background-color: white;
 position: absolute;
 bottom: 0;
 left: 0;
transition: all 1s ease-in-out;
border-radius: 3px;

}
.links:hover::after{
    width: 100%;
    
}


.titulo1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    font-size:80px;
    margin-left: -2%;
    white-space: pre;
margin-top: 10%;
text-transform: uppercase;

}
.subtitulo{
    -webkit-text-stroke: 3px rgb(255, 255, 255); /* Para navegadores baseados no WebKit, como o Google Chrome e Safari */
    
  color: transparent; /* Torna o texto transparente */
}

.degrade{
    width: 100%;
    padding: 100px 0px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to left ,orange, orangered,rgb(255, 0, 0),rgb(255, 166, 0));
    background-size: 500% 100%;
    animation: mov-degrade 3s linear infinite alternate;

}


@keyframes mov-degrade {
    0%{
        background-position-x :0% ;

    }
    100%{
        background-position: 100%;
    }
}
.menu-navegacao.rolagem{
    background-color:var(--cor-menu-navegacao);
    box-shadow: var(--sombra-menu-nav);
    padding:20px 4% ;
    transition: 1s;
    
}
.menu-navegacao.rolagem a{
    color: orangered;
}
.menu-navegacao.rolagem a::after{ 
    background-color: #ff4500;
    
    
}

.menu-navegacao.rolagem button{
    border: 2px solid #ff4500;
    color: #ff4500;
}
.menu-navegacao.rolagem button:hover{
    background-color: #ff4500;
    color: white;
}

.fade-in{
    color: orangered;
    opacity: 1;
    transition: opacity 1s ease-out;
font-weight: 400;
white-space: pre;
font-style:inherit;
font-size: 20px;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
padding: 12%;
margin-top: 0%;
margin-left: -5%;
}
.fade-out {
    opacity: 0;
}
.fundo-quem{
    padding: 250px ; 
    margin-top: -10%;
    background-color:var(--cor-fundo-quem);
    transition:all 1s;
}
.title2{
    text-align: center ;
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    margin-top: -18%;

    
}
.fundo-quem p{ 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 5%;
white-space: pre;
margin-left: 5%;
color:white

}  
.gradiente2{
    background-image: linear-gradient(to left ,orange, rgb(255, 0, 0),rgb(255, 166, 0));
    background-size: 400% 100%;
    animation: mov-degrade 3s linear infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bublle{
    height: 350px;
    margin-left: -50%;
    z-index: 0;
    animation: mov-bublle 2s linear alternate infinite ;

}
@keyframes mov-bublle {
    0%{
        transform: rotate(20deg);
    }
    
    100%{
        transform: rotate(0deg)
    }
}
.bublle2{
    height: 100px;
    position: absolute;
    z-index: 1;
    margin-left: -18%;
    margin-top: -10%;
    animation: mov-bublle2 2s alternate linear infinite;
    
}
@keyframes mov-bublle2 {
    0%{
        
        
        transform: translateY(20px);
    }
    100%{
        
        transform: translateY(0px);
    }
}
.bublle3{
    position: absolute;
    z-index: 1;
    height: 110px;
    margin-left: -3%;
    animation: mov-bublle3 2s alternate linear infinite;
}
    @keyframes mov-bublle3{
0%{transform: translateX(20px);

}
100%{
    transform: translateX(0px);
}
} 
.bublle4{
    
    height: 200px;
margin-left: 70%;
margin-top: -20%;
    z-index: 1;
    position: absolute;
    animation: mov-bublle 2s linear alternate infinite ;
}

.bublle5{
    height: 100px;
    margin-left: 78%;
    margin-top: -1%;
        z-index: 1;
        position: absolute;
        animation: mov-bublle2 3s alternate linear infinite;

}

.textinho{
    
    z-index: 0;
}
.original-button {
    display: flex;
    align-items: center;
    justify-content: center;
    
    text-decoration: none;
    color: white;
    font-size: 18px;
    border-radius: 20px;
    width: 200px;
    height: 40px;
    
    border: 2px solid white;
    transition: 0.3s;
    background-color: transparent;
    margin-left: 84%;
    margin-top: -3%;
}

.original-button:hover {
    color: black;
    background-color: white;
    transform: translateY(5px);
}
.cps{
    height: 75px;
    margin-left: -40%;
    margin-top: -1%;
    z-index: 2;
    position: absolute;
}
.caixa{
    backdrop-filter: blur(-5px); background-color: rgba(255, 255, 255, 1); border-radius: 26px; box-shadow: 35px 35px 68px 0px rgba(255, 98, 42, 0.5), inset -12px -12px 16px 0px rgba(255, 98, 42, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
height: 250px;
width: 500px;
margin-left: 4%;
animation: mov-caixa 3s linear infinite alternate;
margin-top: -2%;

}
@keyframes mov-caixa {
    0%{
        transform:translateY(5%);
    }
    100%{
        transform: translateY(0%);
    }
}
#text-container{
    white-space:  pre-wrap;
}
.form-cont h1{
    background-image: linear-gradient(to right,orangered, rgb(255, 187, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Poppins';
    margin-top: -5%;
}
.form-cont{
    display:flex ;
    flex-direction: column;
    width: 300px;
    height: 450px;
    margin-left:65% ;
    backdrop-filter: blur(9px); background-color: rgba(255, 255, 255, 0.6); border-radius: 38px; box-shadow: 35px 35px 68px 0px rgba(253, 111, 59, 0.5), inset -7px -7px 16px 0px rgba(253, 111, 59, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    padding: 10px 45px;
    position: absolute;
    z-index: 5;
    margin-top: 3%;
    

}
.form-cont form{
    display: flex;
    flex-direction: column;
    width: 100%;

}
.form-cont label{
    color: #ff4500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    margin-left: -80%;
}
.form-cont input{
    padding: 15px;
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #333;
    


}
.form-cont textarea{
    background-color: transparent;
    border: 2px solid #333;
    outline: none;
    padding:10px;
    border-radius: 10px;
}

.form-cont textarea:focus{
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 2px;
    border-image: linear-gradient(to right,rgb(250, 71, 6), rgb(255, 187, 0));
    border-image-slice: 1;
    border-radius: 10px;
    color: rgb(255, 68, 0);
}
.form-cont input::placeholder{
    color: transparent;

}


.form-cont input:focus{
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right,orangered, rgb(255, 247, 0));
    border-image-slice: 1;
    color: orangered;

}
.button {
    padding: 5px ;

    margin-top: 15px;
    color: white;
    background-image:linear-gradient(to right,orangered, rgb(255, 247, 0));
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Poppins';
    border: none;
    transition: all 5s;


}
.button:hover{
    background-image: linear-gradient(to left,orangered, rgb(255, 247, 0));
}
.fundo-obri{
    backdrop-filter: blur(4px); background-color: rgba(255, 255, 255, 1); border-radius: 26px; box-shadow: 35px 35px 68px 0px rgba(255, 98, 42, 0.5), inset -12px -12px 16px 0px rgba(255, 98, 42, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
height: 260px;
width: 550px;
margin-left: 4%;
animation: mov-caixa 3s linear infinite alternate;
margin-top: -2%;

}
.degrade-obri{
    width: 100%;
    
    padding: 250px 0px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to left ,orange, orangered,rgb(255, 0, 0),rgb(255, 166, 0));
    background-size: 500% 100%;
    animation: mov-degrade 3s linear infinite alternate;

}
.fundo-obri h1{
    margin-left: 9%;
    font-family: 'Poppins';
    
}
.textinho-obri{
    color:#ff4500;
    white-space: pre;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 15px;
}
.button3{
    
    
    margin-top: 15px;
    color: white;
    background-image: linear-gradient(to left ,orange, orangered,rgb(255, 0, 0),rgb(255, 166, 0));
    background-size: 500% 100%;
    animation: mov-degrade 3s linear infinite alternate; ;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Poppins';
    border: none;
width: 70%;

}
#formulario-contato {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

#formulario-contato.visible {
    opacity: 1;
    visibility: visible;
}
/* The switch - the box around the slider */
.switch {
    display: block;
    --width-of-switch: 3.5em;
    --height-of-switch: 2em;
    /* size of sliding icon -- sun and moon */
    --size-of-icon: 1.4em;
    /* it is like a inline-padding of switch */
    --slider-offset: 0.3em;
    position: absolute;
    width: var(--width-of-switch);
    height: var(--height-of-switch);
    margin-left: 20%;
    z-index:4 ;
    margin-top: 1%
    
    
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f4f4f5;
    transition: .4s;
    border-radius: 30px;
 }

  .slider:before {
    position: absolute;
    content: "";
    height: var(--size-of-icon,1.4em);
    width: var(--size-of-icon,1.4em);
    border-radius: 20px;
    left: var(--slider-offset,0.3em);
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
    ;
   transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #303136;
  }
  
  input:checked + .slider:before {
    left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
    background: #303136;
    /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
    box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
  }