input:hover::-webkit-inner-spin-button{
    -webkit-appearance: none;

}

input:focus::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

input:focus {
    outline: none;
}

#saida{
    display: none;
}

#entrada{
    display: flex;
    flex-direction: column;
}

input::placeholder{
    text-align: center;
}

button{
    cursor: pointer;
}

input{
    text-align: center;
}

select{
    text-align: center
}